*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img2.jpg);
    background-size:cover ;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: rgb(226, 62, 62);
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
span{
    color: rgb(226, 62, 62);
}
.content{
    color: white;
    padding-left: 50px;
    margin-top:10% ;
}
.content h1{
    font-size: 70px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button {
    width: 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    padding: 10px 0;
    margin: 10px 5px;
    border-radius: 25PX;
    border: 2px solid rgb(226, 62, 62);
}
.Search-btn{
    border-radius: 25PX;
    border: 2px solid rgb(226, 62, 62);
    width: 200px;
    color: white;
    font-weight: bold;
    background: transparent;
    padding: 10px 0;
    border-radius: 25px;
    margin: 10px 5px;
}
.row img{
    height: 157px;
    margin-top: 2px;
}
.one img{
    height: 297px;
    margin-top: 30px;
}
.new h1, p{
    margin-top: 50px;
    text-align: center;

}
.footer{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn-f{
 align-items: center;
 color: black;
 align-content: center;
}

.ft img{
    align-items: center;
    height: 40px;
}

.footer h2{
    color: white;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(226, 62, 62);;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

