<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="Contact_Us.css">
</head>
<body>
    <div class="about">
        <section>
            <h2>About Us</h2>
            <p>
                Software Elecronics Company is a Leading tech company that specializes in the development and sales of 
                 high quality electronics. With over a decade of experience in the industry,<br> we have established
                ourselves as a trusted brand among customers who seek reliable and innovative electronic products
            </p>
            <p>
                Our mission is to provide the latest and most innovative electronic products to customers around the world.
                We are committed to quality, innovation, and customer service, and we <br> invest heavily in research and 
                development to ensure that our products meet the highest standards of quality and functionality. 
            </p>
        </section>

        <section>
            <h2> Our Team</h2>
            <p>
                At our Software electronics company we have a team of dedicated and experienced professionals who are 
                passionate about technology and committed to provide exceptional customer service. Our sales representative
                are knowledgeable and experienced, and they are always ready to assist customers with their inquiries and 
                provide them with the<br> information they need to make informed purchasing decisons. 
            </p>
            <p>
                We also have a team of engineers and designers who work tirelessly to develop new and innovative products
                that meet the evolving need of our customers. Our products are designed to enhance productivity,
                connectivity, and entertainment. We are always exploring new ways to improve and expand our product offerings.
            </p>
        </section> 
    <footer>
        <p>&copy; 2023 Software electronics Company. All rights reserved</p>
    </footer>
    </div>
</body>
</html>